@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    /* overflow: hidden; */
}


.certificate-section{
    /* margin-right: auto;
	margin-left: auto;
    width: 75%; */
}

.certi-area{
    display:flex;
	flex-flow: row wrap;
	/*justify-content: space-between;*/
    align-content: flex-start;
}

.certificate{
    margin: 5px 10px;
	padding: 15px 20px 20px 20px;
    /* width: 25%; */
    width: 26.4%;
	border: 1px solid black;
	border-radius: 15px;
	background-color: black;
	color: white;
    cursor:pointer;
    text-align: center;
    /* height: 82px; */
    /* display: inline-block; */
    vertical-align: middle;
}

.view{
    padding: 5px 20px;
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.certificate-name{
    text-justify: auto;
}

.issued-by{
    margin-bottom: 0;
}

.doi{
    font-size: 0.95rem;
    color: grey;
    margin-top: 0;
}

@media only screen and (max-width: 425px){
	.certificate-section{
		width: 100%;
    }

    .certificate{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
}