/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
	font-family: 'Montserrat', sans-serif;
} */

.exp-sec{
	/* margin-right: auto;
	margin-left: auto;
	width: 75%; */
}

.exp{
	/* display:flex;
	flex-flow: row wrap;
	align-content: flex-start; */

	margin-left: 50px;
}

.exp-button{
	text-decoration: none;
	color: white;
}

.exp-button .loc{
	margin-top: 0px;
	margin-bottom: 0px;
}

.exp-button .position{
	margin-bottom: 2px;
}



.experience{
	margin: 5px 10px 5px 10px;
	padding: 10px 20px 10px 20px;
	/* width: 31.7%; */
	/* width: 43%; */
	border: 1px solid black;
	border-radius: 15px;
	background-color: black;
	color: white;
	cursor:pointer;
}


.role, .company, .date{
	margin: 1px 0px;
	/* text-align: center; */
}

.role{
	font-weight: bolder;
	font-size: 1.25rem;
	/* text-transform: uppercase; */
}

.company{
	/* font-size: 0.90rem; */
	font-size: 1rem;
	color: white;
	font-weight: 500;
}

.date{
	font-weight: 400;
	/* font-size: 0.80rem; */
	font-size: 1rem;
	color: grey;
}


.experience-contained{
	/* margin-right: auto;
	margin-left: auto;
	width: 75%; */
}

.detailed-experience{
	margin: 0px 10px 0px 10px;
	padding: 0px 20px 0px 20px;
	/* width: 70%; */
	border: 1px solid black;
	border-radius: 15px;
	background-color: black;
	color: white;

	display: none; 
}

ul{
	/* list-style-type: none; */
	margin-top: 0px;
}

ul > li {
	/* text-indent: -5px; */
	
 }
 ul > li:before {
	/* content: "-"; */
	/* text-indent: -5px; */
	padding-right: 5px;
 }



@media only screen and (max-width: 425px){
	.exp-sec{
		width: 100%;
	}

	.exp{
		margin-left: 0px;
	}

	.experience{
		/* width: 36.5%; */
		/*margin: 5px 13px;*/
		padding: 10px 10px;
	}

	.company{
		padding-top: 5px;
		padding-bottom: 5px;
		height: 54px;
	}

	.date{
		/*text-align: left;*/
		font-size: 0.70rem;
	}

	.experience-contained{
		width: 100%;
	}

	.detailed-experience{
		width: 80%;
	}
}