@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    /* overflow: hidden; */
}

.project-section{
    /* margin-right: auto;
	margin-left: auto;
    width: 60%; */
    /* background-color: black; */
    /* overflow: hidden; */
}

.projects-area{
    display:flex;
	flex-flow: row wrap;
	/*justify-content: space-between;*/
    align-content: flex-start;
    /* overflow: auto; */
    /* white-space: nowrap; */
}

.project{
    margin: 5px 10px;
	padding: 10px 20px;
    /* width: 25%; */
    width: 26.4%;
	border: 1px solid grey;
	border-radius: 15px;
	background-color: grey;
	color: black;
    cursor:pointer;
    text-align: center;
    /* height: 82px; */
    /* display: inline-block; */
    vertical-align: middle;
}

.project-details{
    margin: 5px 10px;
    padding: 10px 20px;
    padding-bottom: 25px;
	width: 91.9%;
	border: 1px solid black;
	border-radius: 15px;
	background-color: black;
    color: white;
    
    display: none;
}

.title{
    text-align: center;
}

.project-link{
    padding: 5px 20px;
    margin: 0px auto;
    border:1px solid black;
    border-radius: 7px;
    text-decoration: none;
    color: black;
    background: white;
    font-weight: bolder;
}

.close-button{
    padding: 5px 20px;
    margin: 5px 0px;
    border:1px solid black;
    color: black;
    background-color: grey;
    border-radius: 7px;
    width: max-content;
    font-weight: bolder;
    /* position: absolute;
    top:434;
    left: 510; */
    text-decoration: none;
}


@media only screen and (max-width: 425px){
	.project-section{
		width: 100%;
    }

    .project{
        width: 32%;
        vertical-align: middle;
    }

    .project-details{
        width: 80%;
    }
}